doctype
html
  head
    title GeneriBooks
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/vendor/toastr/toastr.css", rel="stylesheet")
    link(href="/css/site.css", rel="stylesheet")
  body(ng-app='app')
    include currentUser
    block main-content
      h1 layout.jade
    footer.navbar-fixed-bottom.container.text-center
      p &copy; 2015 GeneriBooks International
    // here you could include another block
    //block main-content2
    include scripts